/* body -> selecteur d'elements */

body {
    font-family: Arial, Helvetica, sans-serif; /* indique police de caractere */
    color: dimgray;
    font-size: 12px; /* 12px equivaut a une taille classique, s'applique a tout sauf au h1*/
}
h1 {
    color: red;
}
p {
    color: deepskyblue;
}
ul {
    color: cadetblue;
}

/* selecteur de classe .gras */
.gras {
    font-weight: bold;
}
.barre {
    text-decoration: line-through;
}
.souligner {
    text-decoration: underline;
}

/* #paragraphe 1 -> selecteur (type id) */

#paragraphe2 {
    font-size: 20px;
    letter-spacing: 3px;
}